// @import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./variables/Variables";
html,
body {
  padding: 0;
  margin: 0;
  font-family: $FONT;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $FONT;
  scroll-padding-top: 60px;
}

h1,
h2,
h3,
h4,
input {
  font-family: $FONT_SECONDARY;
}
h5,
p,
button,
li,
span {
  font-family: $FONT;
  box-shadow: none !important;
}

ul,
li,
ol {
  list-style: none;
}

button {
  font-family: $FONT;
  text-transform: capitalize !important;
  height: 40px;
  min-width: 100px;
}

@import "mixins/Mixins";
@import "components/home/Home";


::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $BACKGROUND_COLOR_MAIN;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $PRIMARY_COLOR;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $PRIMARY_COLOR;
}
::-webkit-scrollbar-button {
  height: 0.5px;
  background: $PRIMARY_COLOR;
}

// // for pc
// @media(min-width:1020px){

// }
// // for tab
// @media(min-width:760px) and (max-width:1020px){

// }
// // for mob
// @media(max-width:760px){

// }